
.canvas{
  width: 100%;
  height: 640px;
  background-color: none;
  position: absolute;
  z-index: 0;
}

#starter img{
  position: absolute;
  z-index: 1;  
}


#starter #sun{
  margin-top: 140px;
  margin-left: -540px;
}


#starter #mercury{
  margin-top: 190px;
  margin-left: -300px;
}

#starter #venus{
  margin-top: 200px;
  margin-left: -110px;
}

#starter #earth{
  margin-top: 70px;
  margin-left: 40px;
}

#starter #mars{
  margin-top: 90px;
  margin-left: 320px;
}


#starter #jupiter{
  margin-top: 140px;
  margin-left: -540px;
}

#starter #saturn{
  margin-top: 210px;
  margin-left: -270px;
}


#starter #uranus{
  margin-top: 190px;
  margin-left: 70px;
}

#starter #neptune{
  margin-top: 100px;
  margin-left: 370px;
}




.outer-planet-container{
  
}

.inner-planet-container{

}

#starter .welcome{
  color: #F4EBD0;
  font-size: 50px;
  left: 25%;
  right:50%;
  white-space:nowrap;
  position: absolute;
  margin-top: 10px;
  z-index: 1;
  letter-spacing: 1rem;
}

.wb{
  font-family: 'Baloo 2';
}

.switch {
  width: 130px;
  height: 90px;
  
  /* border: 6px solid rgb(165, 41, 155); */
  
  border-radius: 50em;
  border: 5px solid rgb(125, 170, 212);
  
  display: flex;
  position: absolute;
  justify-content: flex-start;
  
  padding-left: 10px;
  padding-top: 5px;
  padding-right: 10px;
  cursor: pointer;
  margin-top: 390px;
  margin-left: 30px;
}

.switch[data-isOn="true"] {
  justify-content: flex-end;

}

.handle {
  margin-top: 5px;
  width: 60px;
  height: 60px;
  background-color: white;
  border-radius: 40px;
}




